<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <title>Detail</title>
</head>
<body>
<header>
    <span th:replace="~{home :: navBar}"></span>
    <h1>Detail</h1>
</header>
<main class="container">
    <div class="container p-10">
        <div class="row justify-content-center">

            <div class="card mt-4" style="width: 18rem;">
<!--                <img th:src="@{${student.thumbnail}}" alt="photo">-->
                <img th:src="${student.thumbnail}" alt="Photo">
                <div class="card-body text-center">
                    <h5 class="card-title">Student Infos</h5>
                    <hr>
                    <p>Nom : <span th:text="${student.firstName}" ></span></p>
                    <p>Prénom : <span th:text="${student.lastName}"></span></p>
                    <p>Age : <span th:text="${student.age}"></span></p>
                    <p>Email : <span th:text="${student.email}"></span></p>

                </div>
                <hr>
                <div class="card-body">
                    <a th:href="@{/list}" class="card-link">Back</a>
                    <a th:href="@{/update(studentId=${student.id})}" class="btn btn-info btn-sm">Modify</a>

                </div>
            </div>
        </div>

    </div>

</main>
</body>
</html>