<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form- Comment</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{home :: navBar}"></span>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form th:action="@{/add/{postId}(postId=${postId})}" th:object="${comment}" method="post" class="form-horizontal" >
                    <fieldset>
                        <legend class="text-center">Your opinions</legend>

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" >Fullname</label>
                            <div class="col-md-9">
                                <input th:field="*{fullName}" id="fullName" name="fullName" type="text"  class="form-control">
                                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text text-danger"></span>
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Your E-mail</label>
                            <div class="col-md-9">
                                <input th:field="*{email}" id="email" name="email" type="text" placeholder="abc@dot.com" class="form-control">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text text-danger"></span>
                            *</div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Your message</label>
                            <div class="col-md-9">
                                <textarea th:field="*{content}" class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="10"></textarea>
                                <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text text-danger"></span>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<span th:replace="~{home :: footer}"></span>
</body>
</html>