<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory>
        <mapping class="heritage.joined_table.CreditCardPayment"/>
        <mapping class="heritage.joined_table.Payment"/>
        <mapping class="heritage.joined_table.PayPalPayment"/>
        <mapping class="heritage.single_table.CreditCardPayment1"/>
        <mapping class="heritage.single_table.PayPalPayment1"/>
        <mapping class="heritage.single_table.Payment1"/>
        <mapping class="heritage.table_per_class.Payment2"/>
        <mapping class="heritage.table_per_class.PayPalPayment2"/>
        <mapping class="heritage.table_per_class.CreditCardPayment2"/>
        <mapping class="demo.model.Personne"/>
        <mapping class="demo.composeKey.Employee"/>
        <mapping class="demo.composeKey.EmployeePK"/>
        <mapping class="demo.embedded.Agence"/>
        <mapping class="demo.embedded.AgenceID"/>
    </session-factory>

</hibernate-configuration>