<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.example.hospital.entities.Patient" />
        <mapping class="com.example.hospital.entities.PatientChart" />
        <mapping class="com.example.hospital.entities.Consultation" />
        <mapping class="com.example.hospital.entities.Prescription" />

    </session-factory>
</hibernate-configuration>
