<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire
    </title>
</head>
<body>


<h2>Add Contact</h2>
<form th:action="@{/add}" th:object="${contact}" method="post">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}"/>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    </div>
    <button type="submit">Add Contact</button>
</form>

</body>
</html>